	<ion-view view-title=" Gallery" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-gallery" class=" page-gallery">
		
			<!-- code refresh -->
			<ion-refresher pulling-text="{{ 'Pull to refresh...' | translate }}"  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			

			<!-- code listing -->
			<div class="list row" ng-repeat="rows in chunked_galeries " >
				<div class="col card" ng-repeat="item in rows">
					<a class="item gallery ink button button-colorful" ng-href="#/test_templates/galerie_singles/{{item.id}}">
						<span ng-bind-html="item.name | to_trusted"></span>
					</a>
					<a class="item item-image ink" ng-href="#/test_templates/galerie_singles/{{item.id}}">
						<img alt="" class="ratio1x1" ng-src="{{item.image}}" />
					</a>
					<div class="item"><rating ng-model="item.rating" max="rating.max"></rating></div>
					<div class="item tabs tabs-secondary tabs-icon-left">
						<a class="tab-item stable-bg assertive" ng-click="openURL(item.link)"><i class="icon ion-link"></i></a>
						<a class="tab-item stable-bg positive-900" ng-href="#/test_templates/galerie_singles/{{item.id}}"><i class="icon ion-ios-arrow-forward"></i></a>
					</div>
				</div>
			</div>
			<!-- ./code listing -->
			



		</ion-content>
		<!-- ./content -->
	</ion-view>
