	<ion-view view-title=" Thumbnail3" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-thumbnail3" class=" page-thumbnail3">
		
			<!-- code refresh -->
			<ion-refresher pulling-text="{{ 'Pull to refresh...' | translate }}"  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			

			<!-- code search -->
			<ion-list class="list" >
				<div class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="search" ng-model="filter_thumbnail3s" placeholder="{{ 'Search' | translate }}" aria-label="filter thumbnail3s" />
				</div>
			</ion-list>
			<!-- ./code search -->


			<!-- code listing -->
			<div class="list animate-none">
				<div class="item-thumbnail-3 card" ng-repeat="item in thumbnail3s | filter:filter_thumbnail3s as results" ng-init="$last ? fireEvent() : null"><a class="item item-colorful item-thumbnail-left "  href="#/test_templates/thumbnail3_singles/{{item.id}}">
					<img alt="" class="full-image" ng-src="{{item.image}}" />
					<h3 class=""  ng-bind-html="item.title | to_trusted"></h3>
						<p >
						Created by <strong>{{item.text}}</strong>
						</p>
				<i class="icon ion-android-more-horizontal pull-right"></i>
				</a></div>
			</div>
			<!-- ./code listing -->


			<!-- code infinite scroll -->
			<ion-list class="list">
				<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="onInfinite()" distance="5px" ng-if="hasMoreData"></ion-infinite-scroll>
			</ion-list>
			<!-- ./code infinite scroll -->


			<!-- code search result not found -->
			<ion-list class="list">
				<div class="item" ng-if="results.length == 0" >
					<p>{{ 'No results found...!' | translate }}</p>
				</div>
			</ion-list>
			<!-- code search result not found -->




		</ion-content>
		<!-- ./content -->
	</ion-view>
