	<ion-view view-title=" Menu" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-slide_tab_menu" class=" page-slide_tab_menu">
		
	<div style="width: 100%;height:100%;">
		<ion-slide-box class="ion-slide-tabs" slide-tabs-scrollable="false" show-pager="false" ion-slide-tabs>
			<ion-slide ion-slide-tab-label="Template Listing" >
					<ion-content scroll="false" class="slidingTabContent">
						<div class="list">
							<a class="item item-icon-left" ng-href="#/test_templates/avatar" >
								<i class="icon ion-android-happy" ></i>
								<h2>Avatar</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/test_templates/gallery" >
								<i class="icon ion-android-image" ></i>
								<h2>Gallery</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/test_templates/one_icon" >
								<i class="icon ion-ios-albums-outline" ></i>
								<h2>One Icon</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/test_templates/two_icon" >
								<i class="icon ion-ios-color-filter-outline" ></i>
								<h2>Two Icon</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/test_templates/thumbnail1" >
								<i class="icon ion-speedometer" ></i>
								<h2>Thumbnail1</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/test_templates/slidebox" >
								<i class="icon ion-social-dropbox" ></i>
								<h2>Slidebox</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/test_templates/button" >
								<i class="icon ion-android-funnel" ></i>
								<h2>Button</h2>
								<span class="item-note pull-left"></span>
							</a>
						</div>
					</ion-content>
			</ion-slide>
			<ion-slide ion-slide-tab-label="New Templates" >
					<ion-content scroll="false" class="slidingTabContent">
						<div class="list">
							<a class="item item-icon-left" ng-href="#/test_templates/homepage" >
								<i class="icon ion-android-document" ></i>
								<h2>Homepage</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/test_templates/thumbnail2" >
								<i class="icon ion-android-map" ></i>
								<h2>Thumbnail2</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/test_templates/thumbnail3" >
								<i class="icon ion-android-desktop" ></i>
								<h2>Thumbnail3</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/test_templates/slidebox_media" >
								<i class="icon ion-android-bulb" ></i>
								<h2>Slidebox Media</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/test_templates/card_showcase" >
								<i class="icon ion-android-clipboard" ></i>
								<h2>Card Showcase</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/test_templates/tables" >
								<i class="icon ion-android-apps" ></i>
								<h2>Tables</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/test_templates/gmap" >
								<i class="icon ion-android-pin" ></i>
								<h2>GMAP</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/test_templates/faqs" >
								<i class="icon ion-android-bulb" ></i>
								<h2>FAQs</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/test_templates/dictionary" >
								<i class="icon ion-android-apps" ></i>
								<h2>Dictionary</h2>
								<span class="item-note pull-left"></span>
							</a>
						</div>
					</ion-content>
			</ion-slide>
		</ion-slide-box>
	</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
