	<ion-view view-title=" Dashboard" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-dashboard" class=" page-dashboard">
		
		<div class="dashboard-panel">
			<div class="item item-title item-positive-900">Template Listing</div>
			<!-- row -->
			<div class="row">
				<a class="col-33 light positive-bg ink"  ng-href="#/test_templates/avatar" >
					<i class="icon ion-android-happy" ></i>
					<p>Avatar</p>
				</a>
				<a class="col-33 light positive-900-bg ink"  ng-href="#/test_templates/gallery" >
					<i class="icon ion-android-image" ></i>
					<p>Gallery</p>
				</a>
				<a class="col-33 light calm-bg ink"  ng-href="#/test_templates/one_icon" >
					<i class="icon ion-ios-albums-outline" ></i>
					<p>One Icon</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 light calm-900-bg ink"  ng-href="#/test_templates/two_icon" >
					<i class="icon ion-ios-color-filter-outline" ></i>
					<p>Two Icon</p>
				</a>
				<a class="col-33 light balanced-bg ink"  ng-href="#/test_templates/thumbnail1" >
					<i class="icon ion-speedometer" ></i>
					<p>Thumbnail1</p>
				</a>
				<a class="col-33 light balanced-900-bg ink"  ng-href="#/test_templates/slidebox" >
					<i class="icon ion-social-dropbox" ></i>
					<p>Slidebox</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 light energized-bg ink"  ng-href="#/test_templates/button" >
					<i class="icon ion-android-funnel" ></i>
					<p>Button</p>
				</a>
			</div>
			<!-- ./row -->
			<div class="item item-title item-positive-900">New Templates</div>
			<!-- row -->
			<div class="row">
				<a class="col-33 light energized-900-bg ink"  ng-href="#/test_templates/homepage" >
					<i class="icon ion-android-document" ></i>
					<p>Homepage</p>
				</a>
				<a class="col-33 light assertive-bg ink"  ng-href="#/test_templates/thumbnail2" >
					<i class="icon ion-android-map" ></i>
					<p>Thumbnail2</p>
				</a>
				<a class="col-33 light assertive-900-bg ink"  ng-href="#/test_templates/thumbnail3" >
					<i class="icon ion-android-desktop" ></i>
					<p>Thumbnail3</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 light royal-bg ink"  ng-href="#/test_templates/slidebox_media" >
					<i class="icon ion-android-bulb" ></i>
					<p>Slidebox Media</p>
				</a>
				<a class="col-33 light positive-bg ink"  ng-href="#/test_templates/card_showcase" >
					<i class="icon ion-android-clipboard" ></i>
					<p>Card Showcase</p>
				</a>
				<a class="col-33 light positive-900-bg ink"  ng-href="#/test_templates/tables" >
					<i class="icon ion-android-apps" ></i>
					<p>Tables</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 light calm-bg ink"  ng-href="#/test_templates/gmap" >
					<i class="icon ion-android-pin" ></i>
					<p>GMAP</p>
				</a>
				<a class="col-33 light calm-900-bg ink"  ng-href="#/test_templates/faqs" >
					<i class="icon ion-android-bulb" ></i>
					<p>FAQs</p>
				</a>
				<a class="col-33 light balanced-bg ink"  ng-href="#/test_templates/dictionary" >
					<i class="icon ion-android-apps" ></i>
					<p>Dictionary</p>
				</a>
			</div>
			<!-- ./row -->
			

		</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
