	<ion-view view-title=" One Icon" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-one_icon" class=" page-one_icon">
		
			<!-- code refresh -->
			<ion-refresher pulling-text="{{ 'Pull to refresh...' | translate }}"  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			

			<!-- code search -->
			<ion-list class="card list" >
				<div class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="search" ng-model="filter_one_icons" placeholder="{{ 'Search' | translate }}" aria-label="filter one_icons" />
				</div>
			</ion-list>
			<!-- ./code search -->


			<!-- code listing -->
			<div class="list card animate-none">
				<a class="item item-icon-left"  ng-repeat="item in one_icons | filter:filter_one_icons as results" ng-init="$last ? fireEvent() : null" ng-href="#/test_templates/one_icon_singles/{{item.ID}}" >
					<i class="icon colorful {{item.Icon}}"></i>
					<span ng-bind-html="item.Title | to_trusted"></span>
				</a>
			</div>
			<!-- ./code listing -->
			<!-- code infinite scroll -->
			<ion-list class="list">
				<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="onInfinite()" distance="5px" ng-if="hasMoreData"></ion-infinite-scroll>
			</ion-list>
			<!-- ./code infinite scroll -->


			<!-- code search result not found -->
			<ion-list class="list">
				<div class="item" ng-if="results.length == 0" >
					<p>{{ 'No results found...!' | translate }}</p>
				</div>
			</ion-list>
			<!-- code search result not found -->




		</ion-content>
		<!-- ./content -->
	</ion-view>
