	<ion-view view-title=" Avatar" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-avatar" class=" page-avatar">
		
			<!-- code refresh -->
			<ion-refresher pulling-text="{{ 'Pull to refresh...' | translate }}"  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			

			<!-- code search -->
			<ion-list class="card list" >
				<div class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="search" ng-model="filter_avatars" placeholder="{{ 'Search' | translate }}" aria-label="filter avatars" />
				</div>
			</ion-list>
			<!-- ./code search -->

			<!-- code listing -->
			<div class="list animate-none">
				<div class="" ng-repeat="item in avatars | filter:filter_avatars as results" ng-init="$last ? fireEvent() : null" >
					<div class="card colorful-bg light ink ink-dark">
						<a class="item item-avatar item-text-wrap" ng-href="#/test_templates/avatar_singles/{{item.ID}}" >
							<img alt="" class="avatar" ng-src="{{item.images_url}}" />
							<h2  ng-bind-html="item.Title | to_trusted"></h2>
								<p >
								Lorem: <strong>{{item.Text}}</strong>
								</p>
						</a>
					</div>
				</div>
			</div>
			<!-- ./code listing -->


			<!-- code infinite scroll -->
			<ion-list class="list">
				<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="onInfinite()" distance="5px" ng-if="hasMoreData"></ion-infinite-scroll>
			</ion-list>
			<!-- ./code infinite scroll -->


			<!-- code search result not found -->
			<ion-list class="list">
				<div class="item" ng-if="results.length == 0" >
					<p>{{ 'No results found...!' | translate }}</p>
				</div>
			</ion-list>
			<!-- code search result not found -->




		</ion-content>
		<!-- ./content -->
	</ion-view>
