	<ion-view view-title=" Card Showcase" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-card_showcase" class=" page-card_showcase">
		
			<!-- code refresh -->
			<ion-refresher pulling-text="{{ 'Pull to refresh...' | translate }}"  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			

			<!-- code search -->
			<ion-list class="card list" >
				<div class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="search" ng-model="filter_showcases" placeholder="{{ 'Search' | translate }}" aria-label="filter showcases" />
				</div>
			</ion-list>
			<!-- ./code search -->

			<!-- code listing -->
			<div class="animate-none">
				<div class="list card" ng-repeat="item in showcases | filter:filter_showcases as results" ng-init="$last ? fireEvent() : null" >
				<a class="item item-avatar item-text-wrap" ng-href="#/test_templates/showcase_singles/{{item.id}}">
								<img alt="" ng-src="{{item.avatar}}" />
							<h2  ng-bind-html="item.title | to_trusted"></h2>
								<p >
								{{item.text}}
								</p>
				</a>
					<div class="item item-body">
						<div class="to_trusted" ng-bind-html="item.content | limitTo:150:0 | to_trusted"></div>
					<p>
					</p>
					</div>
				</div>
			</div>
			<!-- ./code listing -->


			<!-- code infinite scroll -->
			<ion-list class="list">
				<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="onInfinite()" distance="5px" ng-if="hasMoreData"></ion-infinite-scroll>
			</ion-list>
			<!-- ./code infinite scroll -->


			<!-- code search result not found -->
			<ion-list class="list">
				<div class="item" ng-if="results.length == 0" >
					<p>{{ 'No results found...!' | translate }}</p>
				</div>
			</ion-list>
			<!-- code search result not found -->




		</ion-content>
		<!-- ./content -->
	</ion-view>
